body {
    background-image: url(assets/elsevesrosaas.jpg);
    background-position: 100%;
    background-size: 100%;
    gap: 1rem;
    background-repeat: no-repeat;
}

.titulo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    text-shadow: #f12361;
}

.header{
    border-bottom: 3px solid #ffffff;
    width: 100%;
}

.container {
    /* width: 50%;\ */
    height: 10vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
}

.label {
    display: flex;
    color: #f12361;
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 50px;
    text-align: center;
    background-color: white;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
}

.banner {
    height: 90vh;
    width: 100%;
    color: rgb(8, 8, 8);
    box-sizing: border-box;
   
}

.inputs {
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    border-color: rgba(178, 176, 245, 0.925);
    background-color: white;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    display: flex;
    margin: 20px;
}

.inputs {
    height: 25px;
    width: 250px;
    border-radius: 10px;
    border-color: #D08C81;
    display: flex;
    text-align: center;
    flex-direction: start;


}

.botao {
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 1rem 2rem;
    font-weight: 700;
    background: #ffffff;
    color: blueviolet;
    border-radius: 2rem;
    border-bottom: 2px solid #c9153c;
    border-right: 2px solid #c9153c;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top,
        border-left,
        border-bottom,
        border-right,
        box-shadow;
}

.botao:hover {
    border-top: 2px solid #e22b3a;
    border-left: 2px solid #8a2be2;
    border-bottom: 2px solid #c9153c;
    border-right: 2px solid #c9153c;
    box-shadow: #f5019ca9 5px 5px, #eb0d9a86 10px 10px, #ee159e70 15px 15px;
}

.span {
    display: flex;
    justify-content: center;
    text-align: center;

}